html {
    width: 1300px;
    font-family: Times New Roman;
}

h1 {
    color: red;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
}

h2 {
    color: blue;
    font-weight: bold;
    font-size: 25px;
}

h3 {
    color: green;
    font-weight: bold;
    font-size: 25px;
}

ul {
    color: darkblue;
    font-size: 15px;
}

p {
    font-size: 15px;
    text-justify: distribute;
}

